<!DOCTYPE html>
<html lang="en" >

   
<head >
      <meta charset="utf-8">

      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

      <title>T&P | Delhi Technological University</title>
      
      <link rel="shortcut icon" href="DTU,_Delhi_official_logo.png" type="image/x-icon">
      <link rel="icon" href="DTU,_Delhi_official_logo.png" type="image/x-icon">

    
      <!-- Bootstrap -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Template styles-->
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/slider.css">

   
      <!-- Responsive styles-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- FontAwesome -->
      <link rel="stylesheet" href="css/font-awesome.min.css">
      <!-- Animation -->
      <link rel="stylesheet" href="css/animate.css">
      <!-- Colorbox -->
      <link rel="stylesheet" href="css/colorbox.css">
      <script src="https://kit.fontawesome.com/c80561e6bf.js" crossorigin="anonymous"></script>
   
      <div class="body-inner">
         <header id="header" class="header header-transparent">
            <div class="container" >
               <div class="row">
                  <div class="navbar-header" >
                     <div class="logo">

                        
                        <img src="../images/DTU,_Delhi_official_logo.png" style="width: 40px;" alt="logo">
                        

                        
                     
                     </div>
                  </div>
                  <div class="site-nav-inner">
                     <nav class="collapse navbar-collapse navbar-responsive-collapse pull-left" >
                        <ul class="nav navbar-nav" >
                           <li class="dropdown">
                              <a href="/" >T & P DEPARTMENT </a>
                             
                           </li>
                           </ul>
                           </nav>

                     <nav class="collapse navbar-collapse navbar-responsive-collapse pull-right" >
                        <ul class="nav navbar-nav" >
                           <li class="dropdown">
                              <a href="/" >Home </a>
                             
                           </li>
                           <li class="dropdown">
                              <a href="/message">Message</a>
                             
                           </li>
                           <li class="dropdown">
                              <a href="/objective">Objective</a>
                              
                           </li>
                           <li class="dropdown">
                              <a href="/procedure">Procedure</a>
                              
                           </li>
                           <li class="dropdown">
                              <a href="/academics" >Academics </a>
                             
                           </li>
                           <li class="dropdown">
                              <a href="/whydtu" >Why DTU? </a>
                             
                           </li>
                           <!-- Schedule li end -->
                           <li class="dropdown">
                              <a href="/chart">Placement Stats</a>
                              
                           </li>
                           <li class="dropdown">
                              <a href="/FAQ">FAQ's</a>
                              
                           </li>
                           <!-- Blog li end -->
                           <li class="dropdown">
                              <a href="/contact">CONTACT</a>
                              
                           </li>

                        
                       
                        
                           
                        </ul>
                        <!--/ Nav ul end -->
                     </nav>
                     <!--/ Collapse end -->
                  </div>
                  <!--/ Site nav inner end -->
               </div>
               <!--/ Row end -->
            </div>
            <!--/ Container end -->
         </header>
         
         <!--/ Header end -->
         </head>
<body>
   

         <section id="banner" >
            
            <div  id="SLIDE_BG">
             <div style="display:flex ;">
               <div class="container" style="width: 50%; padding-top: 100px;">
                  <div class="banner-content text-center">
                     <div class="">                       

                        <h5 class="banner-title" style="font-size: 50px;">DEPARTMENT OF TRAINING & PLACEMENT </h5>

                        

                        <h3 style="color: white;" >
                           DELHI TECHNOLOGICAL UNIVERSITY
                        </h3>
                        </div>
                  </div>
               </div>
            
               <div class="container" style="width: 50%; padding-top: 150px;">
                  <div class="">
                     <div >
                        <div class="countdown bg-style">
                           
                           
                           
                        </div>
                        

                        <h4 class="banner-title" style="font-size: 50px;"></h4>

                        <div style="padding-right: 150px; padding-left: 100px;">
                           <div>
                              <div class="schedule-listing">
                                 <div class="schedule-slot-info">
                                    <div class="schedule-slot-info-content">
                                       <h3 class="schedule-slot-title" style="color: white;"><a href="../DTU_PlacementBrochure_new.pdf" target="_blank">Placement Brochure</a> </h3>
                                    </div>
                                 </div>
                              </div>
                              <div class="schedule-listing">
                                 <div class="schedule-slot-info">
                                    <a href="#">
                                    </a>
                                    <div class="schedule-slot-info-content">
                                       <h4 class="schedule-slot-title" style="color: white;"><a href="../Training_Letter.pdf" target="_blank">Training Letter</a> </h4>
                                    </div>
                                 </div>
                              </div>
                              <div class="schedule-listing">
                                 <div class="schedule-slot-info">
                                    <a href="#">
                                    </a>
                                    <div class="schedule-slot-info-content">
                                       <h4 class="schedule-slot-title" style="color: white;"><a href="../PP2022-23.pdf" target="_blank">Placement Policy</a>  </h4>
                                    </div>
                                 </div>
                              </div>
                              <div class="schedule-listing">
                                 <div class="schedule-slot-info">
                                    <div class="schedule-slot-info-content">
                                       <h3 class="schedule-slot-title" style="color: white;"><a href="../dsm.pdf" target="_blank">Placement brochure(MBA)</a> </h3>
                                      
                                    </div>
                                 </div>
                              </div>
                              <div class="schedule-listing">
                                 <div class="schedule-slot-info">
                                    <div class="schedule-slot-info-content">
                                       <h3 class="schedule-slot-title" style="color: white;">PC-FORM <a href="../UG_Application_form.pdf" target="_blank">UG</a> <a href="../PG_Application_form.pdf" target="_blank">PG</a> <a href="../PhD_Application_form.pdf" target="_blank">PhD</a></h3>
                                     
                                    </div>
                                 </div>
                               
                              </div>
                                    
                                   
                                 </div>
                              </div>

                        
                        </div>
                  </div>
            
               </div>
            </div>
            </div>
         </section>

         <section id="ts-intro" class="ts-intro no-padding">
            <div class="container">
               <div class="row" id="about">
                  <div class="col-xs-12 col-sm-12 col-md-6" style="width: 100%;">
                     <div class="gap-60"></div>
                     <h3 class="intro-sub-title" ><%= invitation%></h3>
                     <h2 class="intro-title">“For good ideas and true innovation, you need human interaction, conflict, argument, debate.”</h2>
                     <blockquote>The students of Delhi Technological University have been recruited in several International Conglomerates along with Indian Corporations and have proved to be a great asset to the organizations they joined. Our present graduates would assuredly maintain the same level of performance and take their recruiting organizations to new heights in their respective fields. We highly value our partnership with recruiters, alumni and supporters of Delhi Technological University and remain committed to provide a productive and positive recruiting experience. We heartily invite the recruiting organizations and graduating students to find the best match between their needs and capabilities. We are available for any requisite assistance & would ensure a positive & productive recruiting experience. Feedback & queries would be welcome and thoroughly entertained and suggestions would be appreciated.</blockquote>
                     
                    
                  </div>
                  <!-- Col end -->
                  <!-- <div class="col-xs-12 col-sm-12 col-md-6">
                     <div class="intro-video">
                        <img class="img-responsive" src="images/old pics/IMG_0009.jpg" alt="" />
                           
                        
                     </div>
                  </div> -->
                  <!-- Col end -->
               </div>
               <!-- Content row 1 end -->
               <div class="gap-30"></div>
                  <div class="col-sm-3 col-xs-6">
                     <div class="ts-facts">
                        <span class="ts-facts-img">
                        <img src="images/icons/fact-workshop.png" alt="" />
                        </span>
                        <div class="ts-facts-content">
                           <h2 class="ts-facts-num"><span class="counterUp"><%= totalOffers%></span></h2>
                           <h3 class="ts-facts-title">Total Offers</h3>
                        </div>
                     </div>
                     <!--Facts end -->
                  </div>
                  <!-- Col 1 end -->
                  <div class="col-sm-3 col-xs-6">
                     <div class="ts-facts">
                        <span class="ts-facts-img">
                        <img src="images/icons/fact-speaker.png" alt="" />
                        </span>
                        <div class="ts-facts-content">
                           <h2 class="ts-facts-num"><span class="counterUp"><%= highestCtc%></span> Cr</h2>
                           <h3 class="ts-facts-title">Highest CTC</h3>
                        </div>
                     </div>
                     <!--Facts end -->
                  </div>
                  <!-- Col 2 end -->
                  <div class="col-sm-3 col-xs-6">
                     <div class="ts-facts">
                        <span class="ts-facts-img">
                        <img src="images/icons/fact-sponsor.png" alt="" />
                        </span>
                        <div class="ts-facts-content">
                           <h2 class="ts-facts-num"><span class="counterUp"><%= highestStipend%></span> lakh/m</h2>
                           <h3 class="ts-facts-title">Highest Stipend</h3>
                        </div>
                     </div>
                     <!--Facts end -->
                  </div>
                  <!-- Col 3 end -->
                  <div class="col-sm-3 col-xs-6">
                     <div class="ts-facts last">
                        <span class="ts-facts-img">
                        <img src="images/icons/fact-country.png" alt="" />
                        </span>
                        <div class="ts-facts-content">
                           <h2 class="ts-facts-num"><span class="counterUp"><%= avgStipend%></span> K/m</h2>
                           <h3 class="ts-facts-title">Average Stipend</h3>
                        </div>
                     </div>
                     <!--Facts end -->
                  </div>
                  <!-- Col 4 end -->
               </div>
               <!-- Content Row 2 end -->
            </div>
            <!-- Container end -->
         </section>
         <!-- Intro area end -->
         

           
         </section>




         

           
         <section>

         <div class="row text-center">
            <p class="section-sub-title" style="font-size: 60px; color: rgb(7, 8, 8);" >Tech Companies</p>
         </div>
         <div class="slider">
            <div class="slide-track">
              
                
                    <div class="slide"><img src="images/sponsors/1.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/2.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/3.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/4.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/5.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/6.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/7.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/8.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/9.png" alt=""></div>
    
    
                    <div class="slide"><img src="images/sponsors/1.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/2.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/3.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/4.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/5.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/6.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/7.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/8.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/9.png" alt=""></div>
    
                
            </div>
    
        </div>
        <div class="row text-center">
         <p class="section-sub-title" style="font-size: 60px; color: rgb(7, 8, 8);" >Non Tech Companies</p>
      </div>
        <div class="slider">
            <div class="slide-track">
               
                
                
                    <div class="slide"><img src="images/sponsors/10.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/11.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/12.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/13.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/14.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/15.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/16.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/17.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/18.png" alt=""></div>
    
    
                    <div class="slide"><img src="images/sponsors/10.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/11.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/12.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/13.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/14.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/15.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/16.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/17.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/18.png" alt=""></div>
    
                
            </div>
    
        </div>
        <div class="row text-center">
         <p class="section-sub-title" style="font-size: 60px; color: rgb(7, 8, 8);" >Core Companies</p>
      </div>
        <div class="slider">
            <div class="slide-track">
               
                
                
                    <div class="slide"><img src="images/sponsors/21.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/22.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/23.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/24.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/25.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/26.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/27.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/28.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/29.png" alt=""></div>
    
    
                    <div class="slide"><img src="images/sponsors/21.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/22.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/23.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/24.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/25.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/26.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/27.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/28.png" alt=""></div>
                    <div class="slide"><img src="images/sponsors/29.png" alt=""></div>
    
                
            </div>
    
        </div>

        

            
         </section>
         

               <div class="">
                  <div id="ts-venue" class="ts-venue" style="padding-bottom: 50px;">
                  <div class="container" >
                <div class="row text-center" >
                  <h3 class="section-sub-title" id="contact">Where to find us</h3>
                 </div>
                <div class="row">
                  <div class="col-md-6">
                     <div class="contact-info">
                        <div class="contact-info-box">
                           <i class="fa fa-map-marker">&nbsp;</i>
                           <div class="contact-info-box-content">
                              <h4>Address: </h4>
                              <p>Training & Placement Department,
                                 Delhi Technological University,
                                 Shahbad, Daulatpur
                                 North West Delhi,
                                 Delhi 110042 (India)</p>
                           </div>
                        </div>
                        <div class="contact-info-box">
                           <i class="fa fa-envelope-o">&nbsp;</i>
                           <div class="contact-info-box-content">
                              <h4>Email:</h4>
                              <p><a href="mailto:placements@dtu.ac.in" style="text-decoration: none;color: rgb(10, 5, 5)" ><u>placements@dtu.ac.in</u></a></p>
                           </div>
                        </div>
                        <div class="contact-info-box">
                           <i class="fa fa-phone">&nbsp;</i>
                           <div class="contact-info-box-content">
                              <h4>  Dr. Rajesh Rohilla: </h4>
                              <h5 style="color: rgb(13, 8, 8);">Head of Department</h5>
                              <p>9810530528 </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3497.9972861364777!2d77.11616715015049!3d28.749497985442897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x38f05b6a9238d09f!2sDepartment%20of%20Training%20and%20Placement%2C%20Delhi%20Technological%20University!5e0!3m2!1sen!2sin!4v1649653756360!5m2!1sen!2sin" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                  <!-- Col end -->
               </div>
               <!-- Content row 1 end -->
             
                     </div>
                     <!-- Venu content end -->
                  </div>
                  <!-- Col 3 end -->
               </div>
               <!-- Content row end -->
               <!-- <section style="background-color: rgb(10, 9, 9);">
                  <div class="container" >
                     <div class="row" style="width: 80%;">
                        <div class="newsletter-form clearfix" >
                           <div >
                              
                              <h3>Interested In Sponsoring Us</h3>
                           </div>
                          
                              <form action="#" method="post">
                                 <div class="form-group">
                                    <button class="btn btn-primary"><a href="mailto:contact@iosd.tech" style="text-decoration: none;color: rgb(245, 242, 242);"> Contact Us</a></button>
                                 </div>
                              </form>
                          
                        </div>
                     </div>
                  </div>
               </section> -->


         <footer id="footer" class="footer text-center">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     
                    
                     <!-- <div class="footer-logo">
                        <img style="width: 100px;" src="DTU,_Delhi_official_logo.png">
                     </div> -->
                     <div class="footer-social">
                        <ul>
                           <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                           <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                           <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                           <li><form action="#" method="post">
                              <div class="form-group">
                                 <!-- <input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="Your Email Here" autocomplete="off"> -->
                                 <button class="btn btn-primary"><a href="mailto:placements@dtu.ac.in" style="text-decoration: none;color: rgb(245, 242, 242);"> Contact Us</a></button>
                              </div>
                           </form></li>
                        </ul>
                     </div>
                     
                     <!-- Footer social end -->
                     <div class="copyright-info">
                        <span>Copyright © 2022 T&P WEBD TEAM. All Rights Reserved.</span>
                     </div>
                     <!-- Copyright info end -->
                  </div>
                  <!-- Content col end -->
               </div>
               <!-- Content row end -->
            </div>
            <!-- Container end -->
            <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
               <button class="btn btn-primary" title="Back to Top">
               <i class="fa fa-angle-up"></i>
               </button>
            </div>
         </footer>
         <!-- Footer end -->
        

        
         <!-- Footer end -->

         <!-- Javascript Files
            ================================================== -->
         <!-- initialize jQuery Library -->
         <script type="text/javascript" src="js/jquery.js"></script>
         <!-- Bootstrap jQuery -->
         <script type="text/javascript" src="js/bootstrap.min.js"></script>
         <!-- Counter -->
         <script type="text/javascript" src="js/jquery.counterup.min.js"></script>
         <!-- Countdown -->
         <script type="text/javascript" src="js/jquery.jCounter.js"></script>
         <!-- Waypoints -->
         <script type="text/javascript" src="js/waypoints.min.js"></script>
         <!-- Color box for Popup-->
         <script type="text/javascript" src="js/jquery.colorbox.js"></script>
         <!-- Smoothscroll -->
         <script type="text/javascript" src="js/smoothscroll.js"></script>
         <!-- Google Map API Key-->
         <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
         <!-- Google Map Plugin-->
         <script type="text/javascript" src="js/gmap3.js"></script>
         <!-- Template custom -->
         <script type="text/javascript" src="js/custom.js"></script>

      </div>
      <!-- Body inner end -->
   </body>

<!-- Mirrored from demo.themewinter.com/html/eventor/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 13 Mar 2021 16:15:30 GMT -->
</html>